body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #553055;
}

.App {
  background: #4C2A4C;
  margin: 20px auto;
  width: 90%;
  max-width: 700px;
  color: #EEE;
}

.navbar {
  padding: 10px 20px;
  text-align: center;
  background: #6D3D6D;
}

.navbar h2 {
  margin: 10px 0;
}